.vscode
.vesicashapi.egg-info
dist/vesicashapi-1.0.0-py3-none-any.whl
vesicashapi.egg-info/dependency_links.txt
vesicashapi.egg-info/PKG-INFO
vesicashapi.egg-info/requires.txt
vesicashapi.egg-info/SOURCES.txt
vesicashapi.egg-info/top_level.txt
dist/vesicashapi-1.0.0.tar.gz
